h1 {
  text-align: center;
  color: lightsalmon;
  font-family: Garamond;
}

.header {
  color: #876d5d;
  font-family: Georgia;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px 5px #555;
  text-decoration: underline;
  text-decoration-color: #876d5d;
}

.skill-header {
  text-align: left;
  color: #b19a93;
}

.skill-container {
  border: solid #876d5d;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 8px;
}

.navbar {
  width: 100%;
  background-color: #252324;
  overflow: auto;
  margin-bottom: 12px;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: #f4f3fb;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #555;
}

.active {
  background-color: #b19a93;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.image-box {
  width: 288px;
  height: 330px;
  background-image: url("img.JPG");
  background-size: 100% 100%;
  border: 6px solid #876d5d;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px #555;
}

body {
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-attachment: fixed;
}
